{% extends 'base.html' %} {% block city %} {% block home %} {% comment %} hero
section(HOME) {% endcomment %} {% include 'home.html' %} {%endblock %}
<div class="container">
  <form action="{% url 'search' %}" method="post">
    {% csrf_token %}
    <input type="text" name="city" placeholder=" Type the Region" required />
    <button class="btn waves-effect waves-light" type="submit" name="action">
      Go!
      <i class="material-icons right">subdirectory_arrow_right</i>
    </button>
    <a href="http://www.craigslist.org/about/sites" target="_blank" class="sec">
      Check Regions
    </a>
  </form>
</div>
{% endblock %}
