{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mult Lists</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    {% block nav %} 
    {% comment %} nav component(nav) {% endcomment %} 
    {% include 'nav.html' %}
    {%endblock %}
    <div class="container">
      
      {% block contact %} 
      {% comment %} search form(search) {%endcomment %}
      {% endblock %} 
      {% block about %} 
      {% comment %} search form(search) {%endcomment %}
      {% endblock %} 
      {% block city %} 
      {% comment %} search form(search) {%endcomment %}
      {% endblock %} 
      {% block search %} 
      {% endblock %} 
      {% block content %} 
      {% comment %} Search Results(new_search) {% endcomment %} 
      {% endblock %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
