{% comment %} {% extends 'base.html' %}  {% endcomment %}
{% block home %}

<h1 class="center">What do you want to search for?</h1>
<div class="row">
  <div class="col s4">
    <div class="center">
      <i class="large material-icons">flash_on</i>
      <p>Fast craigslists web scrapper</p>
      <p class="light center">
        Scrape away right here with a beautiful Interface
      </p>
    </div>
  </div>
  <div class="col s4">
    <div class="center">
      <i class="large material-icons">camera</i>
      <p>Filter your searches</p>
      <p class="light center">
        We built in functionality to filter based on pricing
      </p>
    </div>
  </div>
  <div class="col s4">
    <div class="center">
      <i class="large material-icons">chrome_reader_mode</i>
      <p>A much cooler Interface to Craigslists</p>
      <p class="light center">Built with 🤍</p>
    </div>
  </div>
</div>
{% endblock %}
