{% comment %} {% extends 'base.html' %} {% endcomment %} {% block home %}

<h1 class="center">What do you want to search for?</h1>
<div class="container">
  <div class="row">
    <div class="col s6">
      <div class="center">
        <i class="large material-icons">flash_on</i>
        <p>Fast craigslists web scrapper</p>
        <p class="sec center">
          Scrape away right here faster!
        </p>
      </div>
    </div>

    <div class="col s6">
      <div class="center">
        <i class="large material-icons">view_quilt</i>
        <p>A much cooler Interface to Craigslists</p>
        <p class="sec center">Built with 🤍 For You!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
